<!DOCTYPE html>
       <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title></title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        </head>
        <body>
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                              <label>Name</label>
                              <input type="text" class="form-control" id="name" name="name" >
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" id="email" name="email" >
                              </div>
                              <div class="form-group">
                                <label >Phone</label>
                                <input type="text" class="form-control" id="phone" name="phone" >
                              </div>
                              <div class="form-group">
                                <label>About you</label>
                                <textarea class="form-control" id="summary" name="summary"></textarea>
                              </div>
                              <div class="form-group">
                                <label>Degree</label>
                                <input type="text" class="form-control" id="degree" name="degree" >
                              </div>
                              <div class="form-group">
                                <label>School</label>
                                <input type="text" class="form-control" id="school" name="school" >
                              </div>
                              <div class="form-group">
                                <label>University</label>
                                <input type="text" class="form-control" id="university" name="university" >
                              </div>
                              <div class="form-group">
                                <label>Previous Experiences</label>
                                <textarea class="form-control" id="previous_work" name="previous_work"></textarea>
                              </div>
                              <div class="form-group">
                                <label>Skills</label>
                                <textarea class="form-control" id="skills" name="skills"></textarea>
                              </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </form>
                    </div>
                </div>
            </div>
        </body>
    </html>